body, input{
    font-size: 2em;
    min-width: 100%;
    color: white;
    background-color: #360a36ba;
    border: none;
    padding: 0 0.5em;
    align-items: center;
}

body{
    font-family: "Lato", sans-serif;
    background-color: rgba(114, 53, 106, 0.569);
}
table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.result{
    background-color: #48004887;
    height: 3em;
    overflow: hidden;
}

h3,p{
    font-size: 1em;
    margin: .2em;
}

#limpiar, #borrar{
    height: 2em;
}

#acumulado{
    color: rgb(238, 238, 238);
}
.num:not(.coma){
    background-color: #4c1e4c8f;
}